/* APP-WIDE*/

* {
    /*menu*/
    -menu-bar-color: #1C1E23;

    /*background*/
    -background-color: #26292E;

    /*emphasis*/
    -accent-gray: #535A6A;
    -accent-blue: #008CFF;

    /*text*/
    -main-text-fill: #9EA0A8;
    -emphasis-text-fill: #C4C7D2;
    -highlight-text-fill: white;

    /*scrolling*/
    -scroll-panel-color: #1E2022;

    /*icons*/
    -icon-hover-fill: #303E62;
    -red-icon-fill: #B62727;
    -green-icon-fill: #0ACB7B;

    /*tabs*/
    -tab-color: #1E2022;

    /*layers*/
    -layer-background: #252935;
    -layer-hover-fill: #303851;

    -fx-border-width: 0;
}

/* MENU */

.menu-bar {
    -fx-background-color: -menu-bar-color;
}

.menu {
    -fx-padding: 0 5 0 5;
}

.menu .label,
.menu-item .label {
    -fx-text-fill: -main-text-fill;
}

/* TODO: handle menu selection in Java to get rid of blue selection*/

.menu-bar .menu:hover .label {
    -fx-text-fill: white;
}

.menu:hover,
.menu-item:hover {
    -fx-background-color: transparent;
}

.context-menu {
    -fx-background-color: -menu-bar-color;
}

/* SPLIT  PANE */

.split-pane {
    -fx-background-color: transparent;
}

.split-pane .split-pane-divider {
    -fx-padding: 1;
    -fx-background-color: -menu-bar-color;
}

/* TABS */

#SCROLL-PANE-BOX {
    -fx-background-color: -tab-color;
}

.tab-pane
{
    -fx-tab-min-height: 30;
    -fx-tab-min-width: 80;
    -fx-padding: 0 -1 -1 0;
}

.tab-pane .tab-header-background
{
    -fx-background-color: -tab-color;
}

.tab-pane:top .tab-header-area
{
    -fx-background-insets: 0, 0 0 0;
    -fx-padding: 0.0em 0.0em 0.0em 0.0em;
}

.tab .tab-label {
    -fx-text-fill: -main-text-fill;
}

.tab:selected .tab-label, .tab:hover .tab-label {
    -fx-text-fill: -highlight-text-fill;
}

.tab
{
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color: -tab-color;
}

.tab:selected, .tab:hover{
    -fx-background-color: -accent-gray;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: -accent-blue;
}

/* SCROLLING */

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-bar:vertical .decrement-arrow,
.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-button,
.scroll-bar:vertical .increment-button {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-background-insets: 0;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: -accent-blue;
}

.scroll-bar:vertical {
    -fx-background-color: -tab-color;
}

.terrain-scroll-pane {
    -fx-background-color: -layer-background;
}

/* PROGRESS BARS */

.progress-bar {
    -fx-background-color: -background-color;
    -fx-border-width: 0 0 3 0;
    -fx-border-color: -accent-gray;
}

.progress-bar .track {
    -fx-background-color: transparent;
    -fx-background-radius: 0 10 10 0;
}

.progress-bar .bar {
    -fx-background-color: -accent-blue;
    -fx-background-radius: 0 10 10 0;
}

/* BUTTONS */

.button {
    -fx-text-fill: -main-text-fill;
    -fx-background-color: -background-color;
    -fx-min-height: 2em;
    -fx-text-alignment: left;
    -fx-background-radius: 0.5em;
}

.button:hover {
    -fx-background-color: -accent-gray;
    -fx-text-fill: white;
}

/* SPINNERS */

#BAR-SPINNER .text-field {
    -fx-background-radius: 0;
}

.spinner {
    -fx-border-width: 0 0 3 0;
    -fx-border-color: -accent-gray;
    -fx-background-color: transparent;
}

.spinner .text-field {
    -fx-border-width: 0;
    -fx-background-color: -background-color;
    -fx-text-fill: -main-text-fill;
}

.spinner .increment-arrow-button,
.spinner .decrement-arrow-button {
    -fx-background-color: -background-color;
    -fx-padding: 5;
}

.spinner .increment-arrow,
.spinner .decrement-arrow {
    -fx-background-color: -accent-gray;
}

/* TEXT FIELDS */

.text-field {
    -fx-background-color: -background-color;
    -fx-border-width: 0 0 3 0;
    -fx-border-color: -accent-gray;
    -fx-text-fill: -main-text-fill;
}

/* CHECK-BOXES */

.check-box .box {
    -fx-background-color: -background-color;
}

.check-box:selected .mark {
    -fx-background-color: -accent-gray;
}

/* SLIDER */

.slider .track {
    -fx-padding: 0;
    -fx-background-insets: 0;
    -fx-pref-height: 4;
    -fx-background-color: -accent-gray;
}

.slider .thumb {
    -fx-padding: 0;
    -fx-background-insets: 0;
    -fx-pref-height: 15;
    -fx-pref-width: 5;
    -fx-background-radius: 2;
    -fx-background-color: -accent-blue;
}

/* TERRAIN */

#TERRAIN_LAYERS {
    -fx-background-color: -layer-background;
}

#TERRAIN_LAYER_MENU {
    -fx-border-width: 0 0 3 0;
    -fx-border-color: -accent-gray;
}

/* ICONS */

#RED-ICON {
    -fx-fill: -red-icon-fill;
}

#GREEN-ICON {
    -fx-fill: -green-icon-fill;
}

#GRAY-ICON {
    -fx-fill: -accent-gray;
}

#FUNCTIONAL-ICON {
    -fx-fill: -accent-blue;
}

.ikonli-font-icon {
    -fx-icon-size: 13;
}

.big-icon {
    -fx-icon-size: 15;
}

#BIG-ICON-BUTTON {
    -fx-background-color: transparent;
    -fx-font-size: 0;
    -fx-padding: 3;
    -fx-min-width: 27;
    -fx-min-height: 27;
}

#BIG-ICON-BUTTON:hover {
    -fx-background-color: -icon-hover-fill;
    -fx-background-radius: 100;
}

#ICON-BUTTON {
    -fx-background-color: transparent;
    -fx-font-size: 0;
    -fx-padding: 3;
    -fx-min-width: 22;
    -fx-min-height: 22;
}

#ICON-BUTTON:hover {
    -fx-background-color: -icon-hover-fill;
    -fx-background-radius: 100;
}

/* IDS */

#BACKGROUND {
    -fx-background-color: -background-color;
}

#TITLE {
    -fx-fill: -emphasis-text-fill;
}

#MAIN-TEXT {
    -fx-text-fill: -main-text-fill;
    -fx-fill: -main-text-fill;
}